@model IndividualCapstone.Models.Quote

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PackageCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevelCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevelCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipmentCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipmentCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
