@model IndividualCapstone.Models.Shipment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress.DeliveryZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress.DeliveryZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupAddress.PickupZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupAddress.PickupZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quote.ServiceLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote.ServiceLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pieces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pieces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialShipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialShipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommericalShipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommericalShipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackagesSerialized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackagesSerialized)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
